<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="Design">Design</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Alerts</li>
    </ol>
</nav>

<div class="row">
    <div class="card">
        <div class="card-body">
            <h1>> Alerts</h1>
            <div class="col-md-12 mt-1">
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    A <strong>primary</strong> alert
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <div class="col-md-12 mt-1">
                <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                    A <strong>secondary</strong> alert
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <div class="col-md-12 mt-1">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    A <strong>success</strong> alert
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <div class="col-md-12 mt-1">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    A <strong>warning</strong> alert
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <div class="col-md-12 mt-1">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    A <strong>danger</strong> alert
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <div class="col-md-12 mt-1">
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    An <strong>info</strong> alert
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <div class="col-md-12 mt-1">
                <div class="alert alert-light alert-dismissible fade show" role="alert">
                    A <strong>light</strong> alert
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <div class="col-md-12 mt-1">
                <div class="alert alert-dark alert-dismissible fade show" role="alert">
                    A <strong>dark</strong> alert
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
</div>