<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h1 class="display-3 text-center">Buttons</h1>
                <hr/>
                <a asp-action="Buttons" asp-controller="Design" class="btn btn-primary w-100">Learn More</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h1 class="display-3 text-center">Alerts</h1>
                <hr/>
                <a asp-action="Alerts" asp-controller="Design" class="btn btn-primary w-100">Learn More</a>
            </div>
        </div>
    </div>
</div>