<footer class="border-top footer text-muted">
    <div class="container text-center">
        <span class="footer-text">
            &copy; @DateTime.Now.Year - Library Management App <span class="vr mx-2"></span>
        </span>
        
        <a asp-action="Index" asp-controller="Design">Design</a>
    </div>
</footer>