<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">> <b>Library</b>Management<b>App</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item vr mx-2 d-none d-md-block"></li>
                    <li class="nav-item py-2 py-md-0">
                        <a class="nav-link text-center text-dark" asp-action="Index" asp-controller="Home"><b>HOME</b></a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item vr mx-2 d-none d-md-block"></li>
                    <li class="nav-item py-2 py-md-0">
                        <a class="nav-link text-dark text-center" asp-action="Login" asp-controller="Account"><b>LOGIN</b></a>
                    </li>
                    <li class="nav-item vr mx-2 d-none d-md-block"></li>
                    <li class="nav-item py-2 py-md-0">
                        <a class="nav-link text-dark text-center" asp-action="Register" asp-controller="Account"><b>REGISTER</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>