@using Microsoft.AspNetCore.Identity
@using Core.Models.Account
@inject SignInManager<ApplicationUser> SignInManager

<header>
    <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-dark border-bottom box-shadow">
        <div class="container-fluid">
            <img src="~/img/Logo/40x40.png" alt=""/>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-lg-inline-flex justify-content-between">
                @if (SignInManager.IsSignedIn(User))
                {
                    <partial name="~/Views/Shared/Partials/Authentication/_Authenticated.cshtml"/>
                }
                else
                {
                    <partial name="~/Views/Shared/Partials/Authentication/_NoneAuthenticated.cshtml"/>
                }
            </div>
        </div>
    </nav>
</header>