@{
    var title = string.IsNullOrWhiteSpace(ViewBag.Title) ? "LBA" : $"{ViewBag.Title} - LBA";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>@title</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>

<partial name="Partials/_Navbar"/>

<div class="container-fluid px-0 py-3 py-md-0">
    <main role="main">
        @RenderBody()
    </main>
</div>

<partial name="Partials/_Footer"/>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

</body>
</html>