@model Core.Models.Catalog.Author

<div class="row">
    <hr class="my-3"/>
    <h3>Author Details</h3>
    <div class="col-md-4">
        <dt>Name</dt>
        <dd>@Model.FirstName @Model.LastName</dd>
    </div>
    <div class="col-md-4">
        <dt>Books</dt>
        <dd>@Model.Books.Count</dd>
    </div>
</div>