@model Core.Models.Account.ViewModels.ProfileViewModel

@{
    ViewBag.Title = "Profile";
}

@if (!string.IsNullOrWhiteSpace(Model.AlertViewModel?.Message))
{
    <partial name="~/Views/Shared/Partials/_Alert.cshtml" model="Model.AlertViewModel"/>
}

<div class="container">
    <div class="row vh-84">
        <div class="col-md-6 d-none d-md-block authentication-background-login"></div>
        <div class="col-md-6 d-flex align-items-center justify-content-center">

            <form asp-action="Login" asp-controller="Account" method="post" class="authentication-form">

                <div class="mb-3">
                    <label asp-for="Username" class="form-label">Username</label>
                    <input asp-for="Username" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email</label>
                    <input asp-for="Email" type="email" class="form-control">
                </div>
                <div class="mb-3">
                    <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
                    <input asp-for="PhoneNumber" type="text" class="form-control">
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary w-100">UPDATE PROFILE</button>
                </div>
            </form>
        </div>
    </div>
</div>